<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
{{!-- css --}}
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div class="main-content">
        {{>header}}

    {{!-- <p>{{helpText}}</p> --}}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus ad repellat excepturi illum animi, non voluptate sunt, quaerat rem libero voluptatem accusamus maiores culpa tenetur est ipsam, nostrum officiis cupiditate? Quos, nostrum debitis? Dignissimos, officiis ducimus illo impedit corporis reprehenderit ad a exercitationem voluptas, iusto sapiente quasi modi, eaque consequuntur?</p>
   </div>

    {{>footer}}

    {{!-- script --}}

</body>
</html>